[user]
    name = Amila Perera
    email = perera.amila@gmail.com
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log --oneline --graph
[core]
    editor = nvim
    autocrlf = input
[color]
	ui = auto
