[user]
    name = Amila Perera
    email = perera.amila@gmail.com
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
[diff]
    tool = nvim
[difftool]
    prompt = false
[merge]
    tool = nvim
[mergetool]
    prompt = false
[pull]
    rebase = false
[color]
	ui = auto
