[user]
	name = Amila Perera
	email = perera.amila@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[color]
	ui = always
[diff]
	tool = bc
[difftool]
	prompt = false
[merge]
	tool = bc
[mergetool]
	prompt = false
[pull]
	rebase = false
