# include any systemwide bindings and variable assignments
# /etc/inputrc
$include /etc/inputrc

TAB: menu-complete

# vi editing mode
set editing-mode vi

# completion follows LS_COLORS
set colored-stats on

# Match all files
set match-hidden-files on

# Filename completion/expansion
set show-all-if-ambiguous on

# ignore case when doing completion
set completion-ignore-case on

# append "/" to all dirnames
set mark-directories on

# completed names which are symlinks to dirs hava "/" appended
set mark-symlinked-directories on

# completion be appended by characters that indicate their file types reported by stat sys call
set visible-stats-on

# Match all files
set match-hidden-files on

# Filename completion/expansion
set show-all-if-ambiguous on

# Macros that are convenient for shell interaction
$if Bash
# edit the path
"\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\C-f"
$endif

